<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="username">Name</label><br>
      <input type="text"
             class="form-control"
             id="username"
             formControlName="username">
     <control-messages [control]="myForm.controls.username"></control-messages>

    </div>
    <div class="form-group">
      <label for="email">E-Mail</label><br>
      <input type="text"
             class="form-control"
             id="email"
             formControlName="email">
     <control-messages [control]="myForm.controls.email"></control-messages>

    </div>


  <div class="form-group">
    <label for="postData">Post</label><br>
    <textarea rows="4" cols="50" 
    class="form-control" 
    id="postData"
    formControlName="postData"></textarea> 
    <control-messages [control]="myForm.controls.postData"></control-messages>
 
  </div>

  <button type="submit" [disabled]="!myForm.valid">Submit</button>
  <button type="button" class="btn btn-default" (click)="onAddHobby()">Get data</button>
  
</form>
